@page "/registrationco"
@layout NoSidebarLayoutLayout
<PageTitle>Registration-co</PageTitle>

<div class="glassEffect">
    <div class="glassEffectCentered">
        <div class="center-content">
            <div class="centered">

            </div>
        </div>
    </div>
</div>    
