@inherits LayoutComponentBase
<RadzenComponents />

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'; background-image: url('/images/hatter.jpg')!important; background-size: cover!important; background-position: center!important; background-repeat: no-repeat!important; background-attachment: fixed!important;">
    <RadzenHeader Style="background: rgba(255, 255, 255, 0.19); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); border: 1px solid rgba(255, 255, 255, 0.42);">

        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">

            <RadzenColumn Size="4" Style="color: #d80000">
                <RadzenSidebarToggle Click="@SidebarToggleClick" Style="border: 0px none #ff0000; color: #ff0000; background-color: rgba(255, 255, 255, 0);"></RadzenSidebarToggle>
                <a href="palyavalaszto_url" style="color: white;">Pályaválasztó</a>
                <a href="allasajanlatok_url" style="color: white;">Állásajánlatok</a>
                <a href="blog_url" style="color: white;">Blog</a>
                <a href="kapcsolat_url" style="color: white;">Kapcsolat</a>
            </RadzenColumn>
            
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Style="color: #e80000"></RadzenStack>
            </RadzenColumn>

        </RadzenRow>
    </RadzenHeader>

    <RadzenBody Expanded="@sidebarExpanded">
        <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="max-width: 1440px;">
            <RadzenColumn Size="12">
            @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>

     <RadzenSidebar Expanded="@sidebarExpanded" Style="background: rgba(255, 255, 255, 0.19); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); border: 1px solid rgba(255, 255, 255, 0.42); color: white;">
     <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
         <RadzenImage   Path="images/logo.ico" style="width: 72px; height: 68px" AlternateText="Application logo"></RadzenImage>
         <RadzenText Text="PalyavalasztoV4" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="rz-mb-0" style="color: #ffffff; background-color: rgba(255, 255, 255, 0); border: 0px none #ffffff" />
        </RadzenStack>
        <RadzenPanelMenu Style="color: #ffffff; background-color: #e60000; border-radius: 16px; text-align: center; border: 0px none #797979">
            <RadzenPanelMenuItem Text="Home" Path="" />
            <RadzenPanelMenuItem Text="applications" Path="applications" />
            <RadzenPanelMenuItem Text="employees" Path="employees" />
            <RadzenPanelMenuItem Text="employers" Path="employers" />
            <RadzenPanelMenuItem Text="jobs" Path="jobs" />
            <RadzenPanelMenuItem Text="roles" Path="roles" />
            <RadzenPanelMenuItem Text="users" Path="users" />
            <RadzenPanelMenuItem Text="Login" Path="login" />
        </RadzenPanelMenu>
        <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="PalyavalsztoV4 v1.0.0" TextStyle="Radzen.Blazor.TextStyle.Caption" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
            <RadzenText Text="Copyright Ⓒ 2024" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
        </RadzenStack>
    </RadzenSidebar>
</RadzenLayout>
