@page "/login"
@layout NoSidebarLayoutLayout

<PageTitle>Login</PageTitle>
<div class="glassEffect">
    <RadzenLogin PasswordText="Jelszó" 
                 LoginText="Bejelentkezés" 
                 UserText="Felhasználónév" 
                 RegisterMessageText="Nincs még fiókod?" 
                 ResetPasswordText="Elfelejtetted a jelszavad?" 
                 AllowRememberMe="true" 
                 RememberMeText="Emlékezz rám!" 
                 RegisterText="Regisztráció" 
            class="glassEffect">
    </RadzenLogin>
</div>

